# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#忽略.class文件
*.class
 
#忽略Eclipse生成的settings文件夹
.settings/
 
忽略Eclipse生成的externalToolBuilders文件夹
.externalToolBuilders/

#忽略lib目录下的jar包
WebRoot/WEB-INF/lib/
 
#忽略编译文件夹
classes/

#忽略文件
.gitignore
